.title-text{
    text-align: center;
}
.title-text h3{
    font-size: 35px;
    margin: 30px 0px 10px 0px;
}

.text{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 55px;
}
.text p{
    width: 42%;
    margin: 5px;
}
