.login{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    margin: 100px;
}
img{
    width: 430px;
    height: auto;
}
.text{
    width: 700px;
    display: flex;
    flex-direction: column;
}

.text h1{
    margin-bottom: 30px;
}

.text p{
    margin-bottom: 20px;
}

.info .links{
    margin-top: 30px;
}

.info .links a{
    text-decoration: none;
    color: white;
    font-size: 13px;
    margin: 0;
    padding: 10px 25px 10px 25px;
    border-radius: 30px;
    background-color: #0F62FE;
}