.graph{
    width: 50%;
    height: 90vh;
    margin: auto;
}
.permission{
    padding: 10px 25px 10px 25px;
    border-radius: 25px;
    margin-bottom: 10px;
    background-color: #0F62FE;
    border: 0.5px solid #0F62FE;
    color: white;
    cursor: pointer;
}

#input{
    margin-top: 30px;
}

.location{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width:100%;
}

select{
    padding: 10px 0px 10px 25px;
    width: 100%;
    margin-bottom: 10px;
    color: #757575;
}

.location p{
    color: #757575;
}

.submit{
    width: 100%;
    margin-top: 15px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.show {
    text-align: center;
    margin: auto;
    width: 180px;
}