nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 15vh;
    background-color: white;
    margin-bottom: 30px;
}
body{
    background-color: #F6F7F9;
}

.logo{
    width:60%;
}

.links a{
    text-decoration: none;
    color: #0F62FE;
    font-size: 15px;
    margin: 10px;
}
.logo img{
    width: 150px;
    height: auto;
}